- if (type == "admin")
  include layout_admin
- else
  include layout_good

div.container
  div.alert.alert-error.hide 실패하였습니다. 입력정보를 다시 확인해주세요.
  form#goodEditForm.form-horizontal(method="post", action="/good")
    fieldset
      legend 칭찬합시다
      each good, key in goodlist
        input#_id.hide(name="_id", size="30", type="text", value="#{good._id}")
        div.control-group
          label.control-label(for="title") 제목
          div.controls
            input#title.input-xxlarge(name="title", size="30", type="text", value="#{good.title}", onkeypress="return enterKey(event);")

        div.control-group
          label.control-label(for="description") 매장
          div.controls
            select#shopinfo
              each shop, key in shoplist
                - if (key == good.shopinfo)
                  option(value="#{shop.name}", selected="selected") #{shop.name}
                - else
                  option(value="#{shop.name}") #{shop.name}

        div.control-group
          label.control-label(for="description") 내용 
          div.controls
            textarea#description.span9(rows="5", name="description", type="text") #{good.description}

        div.form-actions
          button#btn_save.btn.btn-primary(type="button", style="margin-right:5px") Save
          button.btn(type="reset", onclick="javascript:back()") Cancel
          - if (type == 'admin')
            button#btn_remove.btn.btn-danger(type="button", style="margin-left:5px") Delete

include bootstrap.js.jade
script(type="text/javascript")
   $("#description").focus(function( event ) {
     window.scrollTo(100, 1000);
   });

   function enterKey(e) {
     var evt = e || window.event;
     if (evt.keyCode == 13) {
       //
       $('#description').focus();  
       return false;
     }
     else {
       return true;
     }
   }

   $('#btn_remove').click(function remove(event) {
     var _id  = $('#_id').attr('value');
     var type = "#{type}";
     var postUrl = '/dongwon/good/remove';
     var result = $('.alert.alert-error');
     var form = $("#goodEditForm");
     $.ajax({
           type:"POST",
           url:postUrl
           , data:{"_id":_id, "type":type},
           dataType: "json",
           error: function(XMLHttpRequest, textStatus, errorThrown) {
             result.text("responseText: " + XMLHttpRequest.responseText
            + ", textStatus: " + textStatus
            + ", errorThrown: " + errorThrown);
           },
           success: function(data){
             if (data.error) { // script returned error
               result.text(data.error);
             } else { // successful
               form.hide();
               result.text(data.success);
               result.removeClass("alert-error");
               result.addClass("alert-success");
               if(data.redirect != undefined) {
                 setTimeout(function() {
                   window.location = data.redirect;
                 }, 1000);
               }
             }
           }
     });
     result.fadeIn();
   });

   $(document).ready( function() {
     var newButton = $('#new-button');
     newButton.hide();
   });

   $('#btn_save').click(function save() {
       var _id = $('#_id').attr('value');
       var type = "#{type}";
       var title = $('#title').attr('value');
       var description = $('#description').attr('value');
       var result = $('.alert.alert-error');
       var form = $("#goodEditForm");
       var shop = document.getElementById("shopinfo");
       var shopselect = shop.selectedIndex;
       var shopname = shop.value;

       var postUrl = '';
       var data = null; 
       if ('#{isNew}' == 'yes') {
         postUrl="/dongwon/good/new";
         data = { "shopname":shopname, "shopinfo":shopselect, "type":type, "title":title, "description":description };
       } else {
         postUrl="/dongwon/good/edit/"+_id;
         data = { "shopname":shopname, "shopinfo":shopselect, "type":type, "title":title, "description":description, "_id":_id };
       }

       if (title && description) {
         $.ajax({
           type:"POST",
           url:postUrl
           , data:data,
           dataType: "json",
           error: function(XMLHttpRequest, textStatus, errorThrown) {
             result.text("responseText: " + XMLHttpRequest.responseText 
            + ", textStatus: " + textStatus 
            + ", errorThrown: " + errorThrown);
           },
           success: function(data){
             if (data.error) { // script returned error
               result.text(data.error);
             } else { // successful
               form.hide();
               result.text(data.success);
               result.removeClass("alert-error");
               result.addClass("alert-success");
               if(data.redirect != undefined) {
                 setTimeout(function() {
                   window.location = data.redirect;
                 }, 1000);
               }
             }
           }
         });
       } else {
         result.text("빠짐없이 입력해주세요.");
       }

       result.fadeIn();
   });
