<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="content-type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=320, user-scalable=no")
  title 공지사항
  link(rel="stylesheet", href="css/noticeList.css", type="text/css")

 body#faq
  div.cellContent
   ul
    each notice, key in noticeList
     a(href="noticeDetail.html?id=#{notice._id}")
      li
       div.title.list #{notice.title}
       div.arrow
        img.arrow(src="img/ico_arr_more.png")
       div.date #{notice.regDttm}

