<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
 head
  meta(http-equiv="content-type", content="text/html; charset=utf-8")
  meta(name="viewport", content="width=320, user-scalable=no")
  title 공지사항
  link(rel="stylesheet", href="http://erkasraim.cafe24.com/dongwon/css/noticeDetail.css", type="text/css")

 body#faq
  div
    each notice, key in noticelist
      h2
        - if (type == "admin")
          input#edit-button.btn(type="submit", style="float: right; margin-right: 20px; width: 90px; height: 35px;", value="edit", onclick="javascript:edit('#{notice._id}');")

        div.icon
          div.title.detail #{notice.title}
      div#info
          !{notice.description}

script(type="text/javascript")
  function edit(id) {
    window.location = "/dongwon/notice/edit/"+id;
    return false;
  }

