- if (type == "admin")
  include layout_admin
- else
  include layout_shop

//include layout_shop
div#accordion2.accordion
    each shop, key in shoplist
      - var collapse = 'collapse'+key
      div.accordion-group
        div.accordion-heading
          a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapse#{key}") #{shop.name} 
           br
           | #{shop.address}
           br
          input#phone-button.btn(type="submit", style="margin-left:15px", value="#{shop.phone}", onclick="javascript:phone('#{shop.phone}');")
          - if (type == "admin")
            input#edit-button.btn(type="submit", style="margit-left:15px", value="edit", onclick="javascript:edit('#{shop._id}');")
        div.accordion-body.collapse.in(id='#{collapse}')
          div.accordion-inner
            img(src="#{shop.imgUrl}")

include bootstrap.js.jade
script(type="text/javascript")
  function phone(phone) {
    window.location = "tel:"+phone
    return false;
  }
  function edit(id) {
    window.location = "/dongwon/shop/edit/"+id;
    return false;
  }
  function newEntity() {
    window.location = "/dongwon/shop/edit/new";
    return false;
  }
